// Fonts
$base-font: 'Open Sans',
sans-serif;
$base-font-size: 16px;

$vk-color: #4a76a8;
$fb-color: #3b5998;
$in-color: #007cb7;
$tg-color: #229ace;

$base-font-color: #2d2d2d;
$font-color-light: #ababab;
$main-color: #f9df07;
$icon-color: #1390e8;
$green: #0e5823;
$white: #fff;

$t-time: .2s;