.advice.section
  ._wrap.wrap
    ._icon
      +svg('info')
    .base-title Совет что взять с собой
    ._list
      ._list-box 
        ._list-title
          +svg('pharmacy', 'advice-item') 
          | аптечка
        ._list-items
          ._list-item 
            +svg('close', 'box-info-close')
            | Нурофен
          ._list-item
            +svg('close', 'box-info-close') 
            | Но-шпа
          ._list-item
            +svg('close', 'box-info-close') 
            | Полисорб МП
          ._list-item 
            +svg('close', 'box-info-close')
            | Мезим форте
          ._list-item 
            +svg('close', 'box-info-close')
            | Церукал
          ._list-item 
            +svg('close', 'box-info-close')
            | Имодиум
          ._list-item 
            +svg('close', 'box-info-close')
            | Хлоргексидин
          ._list-item 
            +svg('close', 'box-info-close')
            | Пластырь, бинт

          ._list-item.-add 
            +svg('close', 'box-info-close')
            input(type="text" placeholder="Введите трату...")._list-item-input
            +svg('check-mark','check-mark-advice')

        ._list-add-item
          +svg('plus')
          | добавить пункт
      ._list-box 
        ._list-title
          +svg('documents', 'advice-item')
          | документы
        ._list-items
          ._list-item
            +svg('close', 'box-info-close')
            | Загранпаспорт
          ._list-item
            +svg('close', 'box-info-close')
            | Медицинская страховка
          ._list-item
            +svg('close', 'box-info-close')
            | Авиабилеты
          ._list-item
            +svg('close', 'box-info-close')
            | Водительские права
          ._list-item
            +svg('close', 'box-info-close')
            | Брони гостиниц
          ._list-item
            +svg('close', 'box-info-close')
            | Свои записи: маршрут, телефоны, адреса, контакты
        ._list-add-item
          +svg('plus')
          | добавить пункт

      ._list-box 
        ._list-title
          +svg('clothes', 'advice-item')
          | одежда
        ._list-items
          ._list-item
            +svg('close', 'box-info-close')
            | Нижнее белье
          ._list-item
            +svg('close', 'box-info-close')
            | Головной убор по сезону
          ._list-item
            +svg('close', 'box-info-close')
            | Обувь для улицы
          ._list-item
            +svg('close', 'box-info-close')
            | Плавки для пляжного отдыха, посещения бассейна
        ._list-add-item
          +svg('plus')
          | добавить пункт

      ._list-box 
        ._list-title
          +svg('kicks', 'advice-item')
          | обувь
        ._list-items
          ._list-item
            +svg('close', 'box-info-close')
            | Спортивная и удобная обувь
          ._list-item
            +svg('close', 'box-info-close')
            | Обувь на выход
          ._list-item
            +svg('close', 'box-info-close')
            | Сланцы
          ._list-item
            +svg('close', 'box-info-close')
            | Домашняя обувь
        ._list-add-item
          +svg('plus')
          | добавить пункт   

      ._list-box 
        ._list-title
          +svg('hygiene', 'advice-item')
          | Средства <br> гигиены и <br> косметика
        ._list-items
          ._list-item
            +svg('close', 'box-info-close')
            | Зубная щетка
          ._list-item
            +svg('close', 'box-info-close')
            | Дезодорант
          ._list-item
            +svg('close', 'box-info-close')
            | Средства для бритья
          ._list-item
            +svg('close', 'box-info-close')
            | Маникюрный набор
          ._list-item
            +svg('close', 'box-info-close')
            | Расчески
        ._list-add-item
          +svg('plus')
          | добавить пункт

      ._list-box 
        ._list-title
          +svg('accessories', 'advice-item')
          | Техника и <br> гаджеты
        ._list-items
          ._list-item
            +svg('close', 'box-info-close')
            | Смартфон
          ._list-item
            +svg('close', 'box-info-close')
            | Зарядное устройство
          ._list-item
            +svg('close', 'box-info-close')
            | Ноутбук и зарядное
        ._list-add-item
          +svg('plus')
          | добавить пункт
      ._list-box 
        ._list-title
          +svg('bades', 'advice-item')
          | БАДы
        ._list-items
          ._list-item
            +svg('close', 'box-info-close')
            | Омега-3
          ._list-item
            +svg('close', 'box-info-close')
            | Мультивитамины
        ._list-add-item
          +svg('plus')
          | добавить пункт

      ._list-box 
        ._list-title
          +svg('minutiae', 'advice-item')
          | Полезные <br> мелочи для <br> комфорта
        ._list-items
          ._list-item
            +svg('close', 'box-info-close')
            | Городской рюкзак
          ._list-item
            +svg('close', 'box-info-close')
            | Солнечные очки
          ._list-item
            +svg('close', 'box-info-close')
            | Подушка под шею
          ._list-item
            +svg('close', 'box-info-close')
            | Домашняя обувь
        ._list-add-item
          +svg('plus')
          | добавить пункт    
      ._list-box 
        ._list-title
          +svg('child', 'advice-item')
          | Для ребенка
        ._list-items
          ._list-item
            +svg('close', 'box-info-close')
            | Влажные салфетки
          ._list-item
            +svg('close', 'box-info-close')
            | Детская дорожная аптечка
          ._list-item
            +svg('close', 'box-info-close')
            | Запасной комплект одежды
          ._list-item
            +svg('close', 'box-info-close')
            | Нижнее белье
          ._list-item
            +svg('close', 'box-info-close')
            | Теплая обувь
          ._list-item
            +svg('close', 'box-info-close')
            | Удобная легкая обувь
        ._list-add-item
          +svg('plus')
          | добавить пункт
      ._list-box 
        ._list-title
          +svg('salmagundi', 'advice-item')
          | Разное
        ._list-items
          ._list-item
            +svg('close', 'box-info-close')
            | Влажные салфетки
          ._list-item
            +svg('close', 'box-info-close')
            | Детская дорожная аптечка
          ._list-item
            +svg('close', 'box-info-close')
            | Запасной комплект одежды
          ._list-item
            +svg('close', 'box-info-close')
            | Нижнее белье
          ._list-item
            +svg('close', 'box-info-close')
            | Теплая обувь
          ._list-item
            +svg('close', 'box-info-close')
            | Удобная легкая обувь
        ._list-add-item
          +svg('plus')
          | добавить пункт
    