.map-container
    .popup-instagram
        +icon('instagram-icon')
        ._title
            a(href="#", title="title")._title-link Подключите
            | свой Instagram
        ._text
            | Выкладывайте фотографии из ваших поездок в Instagram.
            | Используйте хештеги
            a(href="#", title="title")._link #alphatrip
            | и
            a(href="#", title="title")._link #trippingalpha
            br/
            | и ваши фото появятся здесь
    .map
      ._wrap.wrap