.modal#instagramGallery
    ._dialog
        ._content
            .gallery
                ._close(data-role="modal-close")
                    +svg('cross')
                .swiper-container(data-slider="instagram-big")
                    .swiper-wrapper
                        .swiper-slide
                            img(src="img/hotel-big.jpg").gallery__photo
                        .swiper-slide
                            img(src="img/hotel-big.jpg").gallery__photo
                        .swiper-slide
                            img(src="img/hotel-big.jpg").gallery__photo
                        .swiper-slide
                            img(src="img/hotel-big.jpg").gallery__photo
                        .swiper-slide
                            img(src="img/hotel-big.jpg").gallery__photo
                        .swiper-slide
                            img(src="img/hotel-big.jpg").gallery__photo
                        .swiper-slide
                            img(src="img/hotel-big.jpg").gallery__photo
                        .swiper-slide
                            img(src="img/hotel-big.jpg").gallery__photo
                        .swiper-slide
                            img(src="img/hotel-big.jpg").gallery__photo
                        .swiper-slide
                            img(src="img/hotel-big.jpg").gallery__photo
                
                ._text Lake Como’s appeal is a timeless one. Get our guide to the area at our link in bio!
                  br/
                  a(href="#", title="title")._link #alphatrip

                ._thumbs
                    ._nav-btn.-prev(data-nav="prev-slide")
                        +svg('slider-prev')
                    .swiper-container(data-slider="instagram-thumbs")
                        .swiper-wrapper
                            .swiper-slide
                                img(src="img/hotel-thumb-1.jpg").gallery__photo
                            .swiper-slide
                                img(src="img/hotel-thumb-2.jpg").gallery__photo
                            .swiper-slide
                                img(src="img/hotel-thumb-3.jpg").gallery__photo
                            .swiper-slide
                                img(src="img/hotel-thumb-4.jpg").gallery__photo
                            .swiper-slide
                                img(src="img/hotel-thumb-5.jpg").gallery__photo
                            .swiper-slide
                                img(src="img/hotel-thumb-1.jpg").gallery__photo
                            .swiper-slide
                                img(src="img/hotel-thumb-2.jpg").gallery__photo
                            .swiper-slide
                                img(src="img/hotel-thumb-3.jpg").gallery__photo
                            .swiper-slide
                                img(src="img/hotel-thumb-4.jpg").gallery__photo
                            .swiper-slide
                                img(src="img/hotel-thumb-5.jpg").gallery__photo
                    ._nav-btn.-next(data-nav="next-slide")
                        +svg('slider-next')