.modal#tours-trip-gallery
    ._dialog
        ._content
            .gallery
                ._close(data-role="modal-close")
                    +svg('cross')
                ._hotel-name mira and spicy apartments
                .swiper-container(data-slider="tours-trip-gallery-big")
                    .swiper-wrapper
                        .swiper-slide
                            img(src="img/hotel-big.jpg").gallery__photo
                        .swiper-slide
                            img(src="img/hotel-big.jpg").gallery__photo
                        .swiper-slide
                            img(src="img/hotel-big.jpg").gallery__photo
                        .swiper-slide
                            img(src="img/hotel-big.jpg").gallery__photo
                        .swiper-slide
                            img(src="img/hotel-big.jpg").gallery__photo
                        .swiper-slide
                            img(src="img/hotel-big.jpg").gallery__photo
                        .swiper-slide
                            img(src="img/hotel-big.jpg").gallery__photo
                        .swiper-slide
                            img(src="img/hotel-big.jpg").gallery__photo
                        .swiper-slide
                            img(src="img/hotel-big.jpg").gallery__photo
                        .swiper-slide
                            img(src="img/hotel-big.jpg").gallery__photo
                ._thumbs
                    ._nav-btn.-prev(data-nav="prev-slide")
                        +svg('slider-prev')
                    .swiper-container(data-slider="tours-trip-gallery-thumbs")
                        .swiper-wrapper
                            .swiper-slide
                                img(src="img/hotel-thumb-1.jpg").gallery__photo
                            .swiper-slide
                                img(src="img/hotel-thumb-2.jpg").gallery__photo
                            .swiper-slide
                                img(src="img/hotel-thumb-3.jpg").gallery__photo
                            .swiper-slide
                                img(src="img/hotel-thumb-4.jpg").gallery__photo
                            .swiper-slide
                                img(src="img/hotel-thumb-5.jpg").gallery__photo
                            .swiper-slide
                                img(src="img/hotel-thumb-1.jpg").gallery__photo
                            .swiper-slide
                                img(src="img/hotel-thumb-2.jpg").gallery__photo
                            .swiper-slide
                                img(src="img/hotel-thumb-3.jpg").gallery__photo
                            .swiper-slide
                                img(src="img/hotel-thumb-4.jpg").gallery__photo
                            .swiper-slide
                                img(src="img/hotel-thumb-5.jpg").gallery__photo
                    ._nav-btn.-next(data-nav="next-slide")
                        +svg('slider-next')               