.sights
  ._title
    +svg('sight', 'sights-svg')
    | достопримечательности
  .swiper-container(data-slider="sights-slider")
    .swiper-wrapper
      .swiper-slide
        .sights-item
          ._head
            ._city
              +svg('position', 'position-svg')
              | Будапешт
            ._number 10 февраля
          ._list
            ._info
              ._name(data-modal="#sightsGallery") 
                +svg('edit', 'edit-svg')
                | Собор св. марка
              ._time
                +svg('clock')
                | С 09:00 до 18:00

            ._info
              ._name(data-modal="#sightsGallery")
                +svg('edit', 'edit-svg')
                | Национальный парк Йоркширские Долины
              ._time
                +svg('clock')
                | С 09:00 до 18:00

            ._info
              ._name(data-modal="#sightsGallery")
                +svg('edit', 'edit-svg')
                | Площадь Сан-Марко
              ._time
                +svg('clock')
                | С 09:00 до 18:00
          ._footer
            .measur-add-item.-sights
              +svg('plus')
              | выбрать еще
            ._total Всего: 1250 м.

      .swiper-slide
        .sights-item
          ._head
            ._city
              +svg('position', 'position-svg')
              | Будапешт
            ._number 10 февраля
          ._list
            ._info
              ._name(data-modal="#sightsGallery")
                +svg('edit', 'edit-svg')
                | Собор св. марка
              ._time
                +svg('clock')
                | С 09:00 до 18:00

            ._info
              ._name(data-modal="#sightsGallery")
                +svg('edit', 'edit-svg')
                | Национальный парк Йоркширские Долины
              ._time
                +svg('clock')
                | С 09:00 до 18:00

          ._footer
            .measur-add-item.-sights
              +svg('plus')
              | выбрать еще
            ._total Всего: 1250 м.

      .swiper-slide
        .sights-item
          ._head
            ._city
              +svg('position', 'position-svg')
              | Будапешт
            ._number 10 февраля
          ._list
            ._info
              ._name(data-modal="#sightsGallery")
                +svg('edit', 'edit-svg')
                | Собор св. марка
              ._time
                +svg('clock')
                | С 09:00 до 18:00

            ._info
              ._name(data-modal="#sightsGallery")
                +svg('edit', 'edit-svg')
                | Национальный парк Йоркширские Долины
              ._time
                +svg('clock')
                | С 09:00 до 18:00

            ._info
              ._name(data-modal="#sightsGallery")
                +svg('edit', 'edit-svg')
                | Площадь Сан-Марко
              ._time
                +svg('clock')
                | С 09:00 до 18:00
          ._footer
            .measur-add-item.-sights
              +svg('plus')
              | выбрать еще
            ._total Всего: 1250 м.

      .swiper-slide
        .sights-item
          ._head
            ._city
              +svg('position', 'position-svg')
              | Будапешт
            ._number 10 февраля
          ._list
            ._info
              ._name(data-modal="#sightsGallery")
                +svg('edit', 'edit-svg')
                | Собор св. марка
              ._time
                +svg('clock')
                | С 09:00 до 18:00

            ._info
              ._name(data-modal="#sightsGallery")
                +svg('edit', 'edit-svg')
                | Национальный парк Йоркширские Долины
              ._time
                +svg('clock')
                | С 09:00 до 18:00

            ._info
              ._name(data-modal="#sightsGallery")
                +svg('edit', 'edit-svg')
                | Площадь Сан-Марко
              ._time
                +svg('clock')
                | С 09:00 до 18:00
          ._footer
            .measur-add-item.-sights
              +svg('plus')
              | выбрать еще
            ._total Всего: 1250 м.

      .swiper-slide
        .sights-item
          ._head
            ._city
              +svg('position', 'position-svg')
              | Будапешт
            ._number 10 февраля
          ._list
            ._info
              ._name(data-modal="#sightsGallery")
                +svg('edit', 'edit-svg')
                | Собор св. марка
              ._time
                +svg('clock')
                | С 09:00 до 18:00

            ._info
              ._name(data-modal="#sightsGallery")
                +svg('edit', 'edit-svg')
                | Национальный парк Йоркширские Долины
              ._time
                +svg('clock')
                | С 09:00 до 18:00

            ._info
              ._name(data-modal="#sightsGallery")
                +svg('edit', 'edit-svg')
                | Площадь Сан-Марко
              ._time
                +svg('clock')
                | С 09:00 до 18:00
          ._footer
            .measur-add-item.-sights
              +svg('plus')
              | выбрать еще
            ._total Всего: 1250 м.

  .sights-slider-btn.-right
    +svg('slider-next')      
  .sights-slider-btn.-left
    +svg('slider-prev')      