.housing.section
  ._wrap.wrap
    ._title 
      +svg('housing', 'housing-svg')
      | Жилье
    ._content
      ._content-item
        ._city
          +svg('russia', 'flag-svg')
          | Будапешт
        ._box
          ._city-descr
            +svg('handle', 'city-descr-svg')
            ._variables
              ._date
                ._date-num 15-16 февраля
                button(type='submit')._btn найти другое
              ._hotel-descr
                ._hotel-name(data-modal="#hotelGallery") Hotel San Zulian
                ._dots
                ._price 4000
                  span._money Р
                +icon('booking', 'system')
              ._amenities
                .housing-amenities.-wifi
                  +svg('wifi' , 'housing-amenities-svg')
                .housing-amenities.-kitchen
                  +svg('kitchen' , 'housing-amenities-svg')
                .housing-amenities.-conditioner
                  +svg('conditioner' , 'housing-amenities-svg')
                .housing-amenities.-safe
                  +svg('safe' , 'housing-amenities-svg')
                .housing-amenities.-heating
                  +svg('heating' , 'housing-amenities-svg')
                .housing-amenities.-table
                  +svg('table' , 'housing-amenities-svg')
                .housing-amenities.-gymnasium
                  +svg('gymnasium',  'housing-amenities-svg')
                .housing-amenities.-washer
                  +svg('washer' , 'housing-amenities-svg')
                .housing-amenities.-flatiron
                  +svg('flatiron' , 'housing-amenities-svg')
                .housing-amenities.-refrigerator
                  +svg('refrigerator' , 'housing-amenities-svg')
                .housing-amenities.-hairdryer
                  +svg('hairdryer' , 'housing-amenities-svg')
                .housing-amenities.-tv
                  +svg('tv' , 'housing-amenities-svg')
                .housing-amenities.-toiletries
                  +svg('toiletries' , 'housing-amenities-svg')


      ._content-item
        ._city
          +svg('russia', 'flag-svg')
          | Будапешт
        ._box
          ._city-descr
            +svg('nameplate', 'city-descr-svg')
            ._variables
              ._date
                ._date-num 15-16 февраля
                button(type='submit')._btn найти другое
              ._hotel-descr
                ._hotel-name(data-modal="#hotelGallery") Hotel San Zulian
                ._dots
                ._price 4000
                  span._money Р
                +icon('airbnb', 'system')
              ._amenities
                .housing-amenities.-wifi
                  +svg('wifi' , 'housing-amenities-svg')
                .housing-amenities.-kitchen
                  +svg('kitchen' , 'housing-amenities-svg')
                .housing-amenities.-conditioner
                  +svg('conditioner' , 'housing-amenities-svg')
                .housing-amenities.-safe
                  +svg('safe' , 'housing-amenities-svg')
                .housing-amenities.-heating
                  +svg('heating' , 'housing-amenities-svg')
                .housing-amenities.-table
                  +svg('table' , 'housing-amenities-svg')
                .housing-amenities.-gymnasium
                  +svg('gymnasium',  'housing-amenities-svg')
                .housing-amenities.-washer
                  +svg('washer' , 'housing-amenities-svg')
                
                


      ._content-item
        ._city
          +svg('russia', 'flag-svg')
          | Будапешт
        ._box

          ._city-descr
            +svg('keys', 'city-descr-svg')
            ._variables
              ._date
                ._date-num 15-16 февраля
                button(type='submit')._btn найти другое
              ._hotel-descr
                ._hotel-name(data-modal="#hotelGallery")  Hotel San Zulian
                ._dots
                ._price 4000
                  span._money Р
                +icon('booking', 'system')
              ._amenities
                .housing-amenities.-wifi
                  +svg('wifi' , 'housing-amenities-svg')
                .housing-amenities.-kitchen
                  +svg('kitchen' , 'housing-amenities-svg')
                .housing-amenities.-conditioner
                  +svg('conditioner' , 'housing-amenities-svg')
                .housing-amenities.-safe
                  +svg('safe' , 'housing-amenities-svg')
                .housing-amenities.-heating
                  +svg('heating' , 'housing-amenities-svg')
                .housing-amenities.-table
                  +svg('table' , 'housing-amenities-svg')
                .housing-amenities.-gymnasium
                  +svg('gymnasium',  'housing-amenities-svg')
                .housing-amenities.-washer
                  +svg('washer' , 'housing-amenities-svg')
                .housing-amenities.-flatiron
                  +svg('flatiron' , 'housing-amenities-svg')
                .housing-amenities.-refrigerator
                  +svg('refrigerator' , 'housing-amenities-svg')
                .housing-amenities.-hairdryer
                  +svg('hairdryer' , 'housing-amenities-svg')
                .housing-amenities.-tv
                  +svg('tv' , 'housing-amenities-svg')
                .housing-amenities.-toiletries
                  +svg('toiletries' , 'housing-amenities-svg')
                
                                

          ._city-descr
            +svg('house', 'city-descr-svg')
            ._variables
              ._date
                ._date-num 15-16 февраля
                button(type='submit')._btn найти другое
              ._hotel-descr
                ._hotel-name(data-modal="#hotelGallery")  Hotel San Zulian
                ._dots
                ._price 4000
                  span._money Р
                +icon('booking', 'system')
              ._amenities
                .housing-amenities.-wifi
                  +svg('wifi' , 'housing-amenities-svg')
                .housing-amenities.-kitchen
                  +svg('kitchen' , 'housing-amenities-svg')
                .housing-amenities.-conditioner
                  +svg('conditioner' , 'housing-amenities-svg')
                .housing-amenities.-safe
                  +svg('safe' , 'housing-amenities-svg')
                .housing-amenities.-heating
                  +svg('heating' , 'housing-amenities-svg')
                .housing-amenities.-table
                  +svg('table' , 'housing-amenities-svg')
                .housing-amenities.-gymnasium
                  +svg('gymnasium',  'housing-amenities-svg')
                .housing-amenities.-washer
                  +svg('washer' , 'housing-amenities-svg')
                .housing-amenities.-flatiron
                  +svg('flatiron' , 'housing-amenities-svg')
                .housing-amenities.-refrigerator
                  +svg('refrigerator' , 'housing-amenities-svg')
                .housing-amenities.-hairdryer
                  +svg('hairdryer' , 'housing-amenities-svg')
                .housing-amenities.-tv
                  +svg('tv' , 'housing-amenities-svg')
                .housing-amenities.-toiletries
                  +svg('toiletries' , 'housing-amenities-svg')
                
      ._content-item
        ._city
          +svg('russia', 'flag-svg')
          | Будапешт
        ._box
          ._city-descr
            +svg('umbrella', 'city-descr-svg')
            ._variables
              ._date
                ._date-num 15-16 февраля
                button(type='submit')._btn найти другое
              ._hotel-descr
                ._hotel-name(data-modal="#hotelGallery")  Hotel San Zulian
                ._dots
                ._price 4000
                  span._money Р
                +icon('airbnb', 'system')
              ._amenities
                .housing-amenities.-wifi
                  +svg('wifi' , 'housing-amenities-svg')
                .housing-amenities.-kitchen
                  +svg('kitchen' , 'housing-amenities-svg')
                .housing-amenities.-conditioner
                  +svg('conditioner' , 'housing-amenities-svg')
                .housing-amenities.-safe
                  +svg('safe' , 'housing-amenities-svg')
                .housing-amenities.-heating
                  +svg('heating' , 'housing-amenities-svg')
                .housing-amenities.-table
                  +svg('table' , 'housing-amenities-svg')
                .housing-amenities.-gymnasium
                  +svg('gymnasium',  'housing-amenities-svg')
                .housing-amenities.-washer
                  +svg('washer' , 'housing-amenities-svg')
                .housing-amenities.-flatiron
                  +svg('flatiron' , 'housing-amenities-svg')
                .housing-amenities.-refrigerator
                  +svg('refrigerator' , 'housing-amenities-svg')
                .housing-amenities.-hairdryer
                  +svg('hairdryer' , 'housing-amenities-svg')
                

      ._content-item
        ._city
          +svg('russia', 'flag-svg')
          | Будапешт
        ._box
          ._city-descr
            +svg('house-two', 'city-descr-svg')
            ._variables
              ._date
                ._date-num 15-16 февраля
                button(type='submit')._btn найти другое
              ._hotel-descr
                ._hotel-name(data-modal="#hotelGallery")  Hotel San Zulian
                ._dots
                ._price 4000
                  span._money Р
                +icon('airbnb', 'system')
              ._amenities
                .housing-amenities.-wifi
                  +svg('wifi' , 'housing-amenities-svg')
                .housing-amenities.-kitchen
                  +svg('kitchen' , 'housing-amenities-svg')
                .housing-amenities.-conditioner
                  +svg('conditioner' , 'housing-amenities-svg')
                .housing-amenities.-safe
                  +svg('safe' , 'housing-amenities-svg')
                .housing-amenities.-heating
                  +svg('heating' , 'housing-amenities-svg')
                .housing-amenities.-table
                  +svg('table' , 'housing-amenities-svg')
                .housing-amenities.-gymnasium
                  +svg('gymnasium',  'housing-amenities-svg')
                .housing-amenities.-washer
                  +svg('washer' , 'housing-amenities-svg')
                .housing-amenities.-flatiron
                  +svg('flatiron' , 'housing-amenities-svg')
                .housing-amenities.-refrigerator
                  +svg('refrigerator' , 'housing-amenities-svg')
                .housing-amenities.-hairdryer
                  +svg('hairdryer' , 'housing-amenities-svg')
                
                
      .dashed-line
      .statistics
        .statistics-info
          .statistics-text Среднее в день:
          .statistics-number 2 500
          .statistics-measure Р
        .statistics-info
          .statistics-text Всего:
          .statistics-number 2 500
          .statistics-measure Р                 



